<div class="container">
    <div class="row py-5 mt-3">
        <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center pt-5 pb-4 order-lg-1 order-md-1 order-2">
            <div class="sect5-col1-circle">
                <img [src]="assets/monitorsect5.png" alt="monitorsect5" class="img-fluid sect5-col1-img hvr-grow">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 pb-4 order-lg-2 order-md-2 order-1">
            <i class="fas fa-shuffle sect5-col2-icon mt-5"></i>
            <h1 class="sect5-col2-h my-4">Strategy Solutions</h1>
            <p class="sect5-col2-p">Itaque earum rerum hic tenetur sapiente delectut reiciendis voluptatibus perspiciatis unde omnis iste natus error sit maiores alias consequatur perferendisthat doloribus asperiores repellat.</p>
            <p class="sect5-col2-p my-4">Nam libero tempore cum soluta nobis eligendi optio cumque nihil impedit minusidquod maxime placeat facere possimus.</p>
            <a href="#" class="sect5-col2-a gap-2 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect5-col2-a-icon"></i></a>
        </div>
    </div>
</div>
