<div class="section10">
    <div class="container">
        <div class="row py-5 align-items-baseline">
            <div class="col-lg-5 col-md-12 col-12 mt-3">
                <h3 class="sect10-col1-h pb-4">ABOUT US</h3>
                <p class="sect10-col1-p">Sed ut perspiciatis unde omnis iste natus error sit<br> voluptatem that is doloremque totam that<br> laudantiume.</p>
            </div>
            <div class="col-lg-2 col-md-6 col-12 mt-3">
                <h3 class="sect10-col2-h pb-4">COMPANY</h3>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Monitoring Grader</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Job Opening</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Customers</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Privacy</a></p>
            </div>
            <div class="col-lg-2 col-md-6 col-12 mt-3">
                <h3 class="sect10-col3-h pb-4">SUPPORT</h3>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Get Started</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Blog</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Knowledge Base</a></p>
            </div>
            <div class="col-lg-3 col-md-12 col-12 mt-3">
                <h3 class="sect10-col4-h pb-4">LEGAL</h3>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Terms & Conditions</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Privacy Policy</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Customers</a></p>
                <p><a href="#" class="sect10-col2-a hvr-underline-from-left">Privacy</a></p>
            </div>
        </div>
    </div>
</div>
