<div class="section7">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 mt-5">
                <h1 class="sect7-headmain">OUR PRICING</h1>
            </div>
        </div>
        <div class="row pt-3 pb-5">
            <div class="col-lg-3 col-md-6 col-12 pt-4">
                <div class="sect7-box1 hvr-glow">
                    <div class="sect7-box1-upperpart">
                        <div class="d-flex align-items-center gap-5">
                            <h3 class="sect7-box1-upperpart-h1">Popular</h3>
                            <h3 class="sect7-box1-upperpart-h2">$ 39.00</h3>
                        </div>
                    </div>
                    <div class="sect7-box1-lowerpart ps-3 pt-5">
                        <p class="sect7-box1-p">Bandwidth:1.5GB</p>
                        <p class="sect7-box1-p">Onlinespace:500MB</p>
                        <p class="sect7-box1-p">Support:Yes</p>
                        <p class="sect7-box1-p">Domain:10</p>
                        <p class="sect7-box1-p">Hidden Fees:No</p>
                    </div>  
                    <button type="button" class="btn btn-outline-primary sect7-box1-btn px-4 py-2 ms-3 mt-3 mb-4">BUY NOW</button>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-4">
                <div class="sect7-box2">
                    <div class="sect7-box2-upperpart">
                        <div class="d-flex align-items-center gap-5">
                            <h3 class="sect7-box2-upperpart-h1">Advance</h3>
                            <h3 class="sect7-box2-upperpart-h2">$ 80.00</h3>
                        </div>
                    </div>
                    <div class="sect7-box2-lowerpart ps-3 pt-5">
                        <p class="sect7-box2-p">Bandwidth:1.5GB</p>
                        <p class="sect7-box2-p">Onlinespace:500MB</p>
                        <p class="sect7-box2-p">Support:Yes</p>
                        <p class="sect7-box2-p">Domain:10</p>
                        <p class="sect7-box2-p">Hidden Fees:No</p>
                    </div>  
                    <button type="button" class="btn btn-outline-primary sect7-box2-btn px-4 py-2 ms-3 mt-3 mb-4">BUY NOW</button>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-4">
                <div class="sect7-box1 hvr-glow">
                    <div class="sect7-box1-upperpart">
                        <div class="d-flex align-items-center gap-5">
                            <h3 class="sect7-box1-upperpart-h1">Advance</h3>
                            <h3 class="sect7-box1-upperpart-h2">$ 80.00</h3>
                        </div>
                    </div>
                    <div class="sect7-box1-lowerpart ps-3 pt-5">
                        <p class="sect7-box1-p">Bandwidth:1.5GB</p>
                        <p class="sect7-box1-p">Onlinespace:500MB</p>
                        <p class="sect7-box1-p">Support:Yes</p>
                        <p class="sect7-box1-p">Domain:10</p>
                        <p class="sect7-box1-p">Hidden Fees:No</p>
                    </div>  
                    <button type="button" class="btn btn-outline-primary sect7-box1-btn px-4 py-2 ms-3 mt-3 mb-4">BUY NOW</button>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-4">
                <div class="sect7-box1 hvr-glow">
                    <div class="sect7-box1-upperpart">
                        <div class="d-flex align-items-center gap-5">
                            <h3 class="sect7-box1-upperpart-h1">Premium</h3>
                            <h3 class="sect7-box1-upperpart-h2">$ 99.00</h3>
                        </div>
                    </div>
                    <div class="sect7-box1-lowerpart ps-3 pt-5">
                        <p class="sect7-box1-p">Bandwidth:1.5GB</p>
                        <p class="sect7-box1-p">Onlinespace:500MB</p>
                        <p class="sect7-box1-p">Support:Yes</p>
                        <p class="sect7-box1-p">Domain:10</p>
                        <p class="sect7-box1-p">Hidden Fees:No</p>
                    </div>  
                    <button type="button" class="btn btn-outline-primary sect7-box1-btn px-4 py-2 ms-3 mt-3 mb-4">BUY NOW</button>  
                </div>
            </div>
        </div>
    </div>
</div>
