<div class="section1">
    <div class="container">
        <div class="row flex-lg-row flex-column align-items-center justify-content-between pt-5">
            <div class="col-lg-6 col-12 pe-lg-5 mob-center-text">
              <div>
               <h1 class="sect1-head">Simple And Clean But<br>Professional</h1>
                <p class="sect1-p">Ut enim ad minima veniam quis nostrum exercitationem ullam<br>corporis at suscipit laboriosam nisi ut aliquid a
                commodi<br>consequatur Quis autem.</p>
              </div> 
                <div class="d-flex gap-2">
                    <input type="email" id="email" name="email" placeholder="Enter Email.." class="sect1-input">
                    <button class="getstarted hvr-bounce-out">Get Started</button>
                </div>
                <i class="fas fa-circle-play play-btn"></i>
            </div>
            <div class="col-lg-6 col-12 py-5 my-5 mob-center-img">
                <img [src]="assets/sect1img.png" alt="sect1img" class="img-fluid sect1-img ms-lg-5">
            </div>
        </div>
    </div>
</div>
