<div class="section6">
    <div class="container">
        <div class="row d-flex align-items-center py-5 mt-3">
            <div class="col-lg-6 col-md-6 col-12 pb-4">
                <i class="fas fa-display sect6-col1-icon mt-5"></i>
                <h1 class="sect6-col1-h my-4">Marketing business</h1>
                <p class="sect6-col1-p">Itaque earum rerum hic tenetur sapiente delectut reiciendis voluptatibus perspiciatis unde omnis iste natus error sit maiores alias consequatur perferendisthat doloribus asperiores repellat.</p>
                <p class="sect6-col1-p my-4">Nam libero tempore cum soluta nobis eligendi optio cumque nihil impedit minusidquod maxime placeat facere possimus.</p>
                <a href="#" class="sect6-col1-a gap-2 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect6-col1-a-icon"></i></a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center pt-5 pb-4">
                <div class="sect6-col2-circle">
                    <img src="assets/microphone.png" alt="microphone" class="img-fluid sect6-col2-img hvr-grow">
                </div>
            </div>
        </div>    
    </div>
</div>
