<div class="section9 pb-2 mb-3">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 mt-5">
                <h1 class="sect9-headmain">GET IN TOUCH</h1>
            </div>
        </div>
        <div class="row my-5 py-4 pb-4">
            <div class="col-12">
                <div class="sect9-formbox">
                    <div class="row pt-5 ps-lg-5 ps-md-5 px-3 px-md-0 px-lg-0 align-items-baseline">
                        <div class="col-lg-7 col-md-12 col-12 my-5 ms-lg-5 px-lg-0 px-md-5 px-4 ms-0">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" id="name" placeholder="Name" name="name" class="sect9-nameinput">
                                </div>
                                <div class="col-6">
                                    <input type="email" id="email" placeholder="Email" name="email" class="sect9-emailinput">
                                </div>
                                <div class="col-12 my-4">
                                    <input type="subject" id="subject" placeholder="Subject" name="subject" class="sect9-subjectinput">
                                </div>
                                <div class="col-12">
                                    <textarea placeholder="Message" class="sect9-textinput"></textarea>
                                </div>
                                <div class="col-12 my-4">
                                    <button class="sect9-btn hvr-grow-shadow">SEND MESSAGE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-12 ms-lg-4 px-lg-0 px-md-5 px-4 pb-5">
                            <div class="sect9-col2-call d-flex gap-4 align-items-start">
                                <div class="sect9-col2-callcir">
                                    <i class="fas fa-headphones sect9-col2-callicon"></i>
                                </div>
                                <div>
                                    <p class="sect9-col2-callp">Call :<br>012-345-987</p>
                                </div>
                            </div>
                            <div class="sect9-col2-email d-flex gap-4 align-items-start">
                                <div class="sect9-col2-emailcir">
                                    <i class="fas fa-envelope sect9-col2-emailicon"></i>
                                </div>
                                <div>
                                    <p class="sect9-col2-emailp">Email :<br>youremailid&#64;gmail.com</p>
                                </div>
                            </div>
                            <div class="sect9-col2-location d-flex gap-4 align-items-start">
                                <div class="sect9-col2-locationcir">
                                    <i class="fas fa-location-dot sect9-col2-locationicon"></i>
                                </div>
                                <div>
                                    <p class="sect9-col2-locationp">Location :<br>3179 Raccoon Run Seattle,<br> WA 98109</p>
                                </div>
                            </div>
                            <h3 class="sect9-col2-h">Follow</h3>
                            <div class="d-flex gap-3 mt-3">
                                <i class="fa-brands fa-facebook sect9-col2-lilicons"></i>
                                <i class="fa-brands fa-twitter sect9-col2-lilicons"></i>
                                <i class="fa-brands fa-google-plus-g sect9-col2-lilicons"></i>
                                <i class="fa-brands fa-linkedin sect9-col2-lilicons"></i>
                                <i class="fa-brands fa-whatsapp sect9-col2-lilicons"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
