<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-12">
            <h1 class="sect3-headmain">OUR SERVICES</h1>
        </div>
    </div>
    <div class="row mt-4 mb-5 pb-5">
        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fas fa-database sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Awesome Support</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fas fa-palette sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Unlimited Colors</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fas fa-chart-simple sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Strategy Solutions</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
  

        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fas fa-yin-yang sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Digital Design</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fa-brands fa-intercom sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Easy to customize</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-4">
            <div class="hvr-glow sect3-row1-box1">
                <a class="hvr-radial-out sect3-row1-box1-cir mt-4 ms-4">
                  <i class="fa-brands fa-slack sect3-row1-box1-ciricon"></i>
                </a>
                <h1 class="sect3-row1-box1-h ms-4 my-4">Truly Multipurpose</h1>
                <p class="sect3-row1-box1-p mx-4">Sed ut perspiciatis unde sit omnise iste natus voluptatem site accusantium doloremque laudantium combined with a handful totam.</p>
                <a href="#" class="sect3-row1-box1-a gap-2 ms-4 my-2"><p>LEARN MORE</p><i class="fas fa-arrow-right sect3-row1-box1-a-icon"></i></a>
            </div>
        </div>
    </div>
</div>
