<div class="section2">
    <div class="container">
        <div class="row pt-5 mt-5">
            <div class="col-12">
                <h1 class="sect2-headmain">ABOUT US</h1>
            </div>
        </div>
        <div class="row align-items-center justify-content-center pt-5">
            <div class="col-lg-4 col-md-6 col-12 sect2-col1">
                <a class="hvr-radial-out sect2-icon-circle">
                    <i class="fas fa-lightbulb sect2-icon1"></i>
                </a>
                <h1 class="sect2-col1-h my-3">Creative Design</h1>
                <p class="sect2-col1-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur at aut odit aut fugit sed quia consequuntur
                magni.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 sect2-col1 my-4 my-md-0 my-lg-0">
                <a class="hvr-radial-out sect2-icon-circle">
                    <i class="fas fa-display sect2-icon1"></i>
                </a>
                <h1 class="sect2-col1-h my-3">Strategy Solutions</h1>
                <p class="sect2-col1-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur at aut odit aut fugit sed quia consequuntur
                magni.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-12 sect2-col1">
                <a class="hvr-radial-out sect2-icon-circle">
                    <i class="fas fa-arrow-up-right-dots sect2-icon1"></i>
                </a>
                <h1 class="sect2-col1-h my-3">Dynamic Growth</h1>
                <p class="sect2-col1-p">Nemo enim ipsam voluptatem quia voluptas sit aspernatur at aut odit aut fugit sed quia consequuntur
                magni.</p>
            </div>
        </div>
        <div class="row mt-5 pt-5 align-items-center justify-content-between pb-5 mb-5">
            <div class="col-lg-6 col-12">
                <h1 class="sect2-row2-col1-h">Performancect Solution For Small Businesses</h1>
                <p class="sect2-row2-col1-p">Temporibus autem quibusdam a aut officiis debitis rerum necessitatibus saepeeveniet ut et voluptates repudiandae sint a molestiae recusandae itaque earum rerum hic tenetur a sapiente delectus ut at aut reiciendis voluptatibus
                maiores alias consequatur perferendis doloribus asperiores rerum necessitat saepeeveniet.</p>
            </div>
            <div class="col-lg-6 col-12 sect2-col2-img mt-5 mt-lg-0">
                <img src="assets/sect2tbl.JPG" alt="sect2tbl.jpg" class="sect2-img">
            </div>
        </div>
    </div>
</div>